/* Presetting */

.contact-icons {
	display: none;
}

/* Portfolio filter */
img{
	max-width:100%;
}

.container {
	position: absolute;
	top: 23%;
	max-width: 1250px;
	width:100%;
	margin-left: auto;
	margin-right: auto;
	height:auto;
	padding:0px 40px;
	position:relative;
	clear:both;
	opacity: 0;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
	box-sizing: border-box;         /* Opera/IE 8+ */
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color: #333;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color: #333;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color: #333;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #333;
}
::-ms-input-placeholder { /* Microsoft Edge */
   color: #333;
}

.ap_portfolio_wrap{
	width: 100%;
	height: auto;
	clear: both;
	float: left;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */ 
}
.ap_portfolio_filter{
	width:100%;
	height: auto;
	text-align:left;
	list-style-type:none;
	margin: 0px 0px 3% 0px;
	display: inline-block;
	text-align: center;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.ap_portfolio_filter li{
	display:inline-block;
	margin:0px 40px 0px 0px;
}
.ap_portfolio_filter li:last-child{margin-right: 0px;}
.ap_portfolio_filter li a{
	font-size: 1.1rem;
	font-weight: 600;
	color:#ddd;
	display: inline-block;
	margin-bottom: 10px;
	position: relative;
	
	-webkit-transition: all .1s ease;
	   -moz-transition: all .1s ease;
	    -ms-transition: all .1s ease;
	     -o-transition: all .1s ease;
	        transition: all .1s ease;
}
.ap_portfolio_filter li a.current{color: #c5a977;}

.ap_portfolio_list{
	list-style-type:none;
	margin: 0px 0px 0px -30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.ap_portfolio_list > li{
	width:33.3333%;
	float:left;
	position:relative;
	margin: 0px 0px 30px 0px;
	padding-left: 30px;
	
	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
	   -moz-box-sizing: border-box; /* Firefox, other Gecko */
			box-sizing: border-box; /* Opera/IE 8+ */
}
.ap_portfolio_list li img{min-width: 100%;}
.ap_portfolio_titles {
  white-space: nowrap;
  /* background: #ffffff; */
  padding: 5px 15px;
  color: #000000;
  position: fixed;
  z-index: 1000;
  opacity: 0;
  visibility: hidden;
}
.entry{position: relative;}
.ap_portfolio_image_main{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Hover */
  .grid-item {
	display: flex;
	position: relative;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: stretch;
	text-decoration: none;
	color: #ddd;
	overflow: hidden;
  }
  .grid-item:hover .grid-item__image {
	-webkit-transform: scale(1.2);
			transform: scale(1.2);
  }
  .grid-item:hover .grid-item__hover {
	visibility: visible;
	opacity: 1;
  }
  .grid-item:hover .grid-item__name {
	visibility: visible;
	/*
	-webkit-transform: scale(1);
			transform: scale(1);
	*/
	opacity: 1;
  }
  
  .grid-item__image {
	background-size: cover;
	background-position: center center;
	-webkit-transform: scale(1);
			transform: scale(1);
	will-change: transform;
	transition: -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	transition: transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), -webkit-transform 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	z-index: 0;
  }
  
  .grid-item__hover {
	visibility: hidden;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	/* background: rgba(0, 0, 0, 0.6); */ /* radial-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.7)); */
	/* box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.5); */
	border-radius: 0;
	transition: visibility 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94), opacity 0.35s cubic-bezier(0.25, 0.46, 0.45, 0.94);
	opacity: 0;
  }
  
  .grid-item__name {
	  
	position: absolute;
	top: 25%;
	width: 100%;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	flex-shrink: 1;
	align-items: center;
	font-size: 1.6rem;
	font-weight: 600;
	/* text-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4), 2px 2px 6px rgba(0, 0, 0, 0.3); */
	justify-content: center;
	letter-spacing: 1px;
	line-height: 3rem;
	-webkit-transform: scale(0.6);
			transform: scale(0.6);
	-webkit-transform-origin: center center;
			transform-origin: center center;
	transition: visibility 0.14s ease-out, opacity 0.14s ease-out, -webkit-transform 0.24s ease;
	transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease;
	transition: visibility 0.14s ease-out, opacity 0.14s ease-out, transform 0.24s ease, -webkit-transform 0.24s ease;
	opacity: 0;
	text-align: center;
  }

  .grid-item__name__title {
	font-size: 2.5rem;
  }

/* RWD */
@media (max-width: 1024px) {
	.container{padding:0px 20px;}
}

@media (max-width: 550px) {
.container{padding:0px 10px;}
.grid-item__name {top: 30%;}
}

@media (max-width: 1024px) {
	.container {top:22%;}
	.ap_title_holder:before{top: -2px;}
	.ap_portfolio_list > li{width: 50%;}
}
@media (max-width: 550px) {
	.ap_title_holder:before{display: none;}
	.ap_title_holder h3{padding-left: 0px;}
	.ap_title_holder span{padding-left: 0px;}
	.ap_portfolio_list{margin: 0px;}
	.ap_portfolio_list > li{width: 100%;padding-left: 0px;}
}

/* Custom RWD */
@media (max-width: 550px) {
	.container {top:28%;}
	.ap_portfolio_filter { margin: 0px 0px 6% 0px !important;}
	.ap_portfolio_filter li a {
		font-size: 1.3rem !important;
	}
}

@media (max-width: 375px) {
	.container {top:25%;}
	.ap_portfolio_filter li a {
		font-size: 1.4rem;
	}
}

@media (max-width: 375px) and (max-height: 667px) {
	.container {top:30%;}
	.ap_portfolio_filter li a {
		font-size: 1.1rem !important;
	}
}

@media (max-width: 360px) {
	.container {top:32%;}
	.ap_portfolio_filter li a {
		font-size: 1.2rem !important;
	}
}

@media (max-width: 350px) and (max-height: 568px) {
	.ap_portfolio_filter li a {
		font-size: 1.1rem !important;
	}
}

@media (max-width: 300px) {
	.ap_portfolio_filter li a {
		font-size: 0.9rem !important;
	}
}

/* Mobile landscape */
@media (max-height: 450px) {
	.container {
    top: 60%;
  }
}

